h1, h2, h3, h4, a, li, p, body, .uk-navbar-nav > li > a {font-family: 'Roboto', sans-serif;}
a, input, .rsform-block-star .formControls label .star, .call_me, .sticky_arrow.uk-active, .logo_block img, .menu_block, .contacts_block, .languages_block, .cart_block, .languages_block .button, .cart_button, .cart_button:before, .externbootstrap_text_active, .mod-shop-search label, .sticky_bar, .jshop_prod_attributes .input_type_radio label, .externbootstrap_text, .filter-cell .value_block span.char_block:before, .filter-cell .value_block input, .contacts_block, .service_block {-webkit-transition: all 0.15s ease-out; -moz-transition: all 0.15s ease-out; -o-transition: all 0.15s ease-out; transition: all 0.15s ease-out;}

.clr {clear:both;}
.uk-container {position: relative;}
.uk-panel > h3, .related_header h3, .uk-row-first > h3, .uk-article > h1 {font-size: 40px; line-height: 50px; margin-bottom: 40px; text-transform: uppercase; text-align: center;}
.header_block {margin-top: 0.5px;}

.top_a_block {margin-top: 15px;}
.service_block {display: block; }
.service_block a:hover {background: #e2e2e2;}
.service_block a {text-decoration: none; display: block; height: 110px; text-align: center; background: #f0f0f0; margin-bottom: 15px !important; border-radius: 6px; text-transform: uppercase; padding: 0 5px;}
.service_block a:before {display: block; font-size: 40px; padding: 25px 0px;}
.service_block a img {margin: 15px 0 10px 0;}
.service_block a span {display: block; text-transform: uppercase; font-weight: 500; line-height: 13px; margin-top: 0px; color: #555;}
.service_block a span:lang(ro){font-size: 13px;}
.last_service {margin-bottom: 0 !important;}

.logo_block {margin-right: 15px; border-right: 3px solid #0194D9; padding-right: 15px;}
.short_info .extra_fields, .product_short_info .extra_fields {font-size: 15px;}
.short_info .extra_fields .label-name, .product_short_info .extra_fields .label-name {font-weight: bold; color: #555;}
.short_info .extra_fields > div, .product_short_info .extra_fields > div {float: left; width: calc(50% - 30px); position: relative; padding-left: 30px;}
.short_info .extra_fields > div:before, .product_short_info .extra_fields > div:before {content: ''; display: block; width: 8px; height: 8px; border-radius: 100%; background: #0194D9; position: absolute; left: 5px; top: 6px; margin-left: 4px;}
.product_short_info .extra_field_0:before {background: none !important; top: 0 !important; margin-left: 0 !important;}
.short_info .extra_fields > div:last-child {width: 100%;}
.list_product_block {position: relative;}
.teee {margin-bottom: 20px;}
.value_block input {display: none;}
.filter-cell .value_block, .product_comparison_block {position: relative;}
.filter-cell .value_block input:checked + span.char_block {}
.filter-cell .value_block span.char_block:before, .product_comparison_block span.char_block:before {content: "\f096"; font-family: FontAwesome; font-size: 23px; position: absolute; top: 6px; left: 6px; color: #0194D9;}
.filter-cell .value_block span label {margin-left: 35px; line-height: 15px; font-size: 14px; margin-bottom: 0; color: #444;}
.filter-cell .value_block input:checked + span.char_block:before, .product_comparison_block input:checked + span.char_block:before {position: absolute; content: "\f046"; font-family: FontAwesome;}
.filter-cell .value_block:hover span.char_block:before, .product_comparison_block:hover span.char_block:before {content: "\f046"; font-family: FontAwesome;}
.filter-cell .value_block input:checked:hover + span.char_block:before {content: "\f046"; font-family: FontAwesome;}
.filter-cell-submit {padding: 0 !important; margin-top: 10px;}
.filter-cell-submit .clear {background: #DB006D; border-radius: 6px; text-transform: uppercase;}
.price_block_product {text-align: right;}
.value_block {padding: 3px; background: #fff; margin: 3px; width: calc(50% - 12px);}
.filter-cell h3 {font-weight: 400;}
.filter-cell3 .value_block {width: 100%;}
.value_block, .value_block span {height: 19px; display: flex; -webkit-align-items: center; align-items: center; -ms-flex-pack: center;}

.header_info_block {float: left;}
.header_info_block .contacts_block .uk-panel > div {display: inline-block; margin-right: 15px; font-size: 18px; padding-left: 37px; position: relative;}
.header_info_block .contacts_block .uk-panel > div:before {font-family: FontAwesome; font-size: 22px; background: #0194D9; color: #fff; width: 30px; display: block; line-height: 30px; height: 30px; position: absolute; top: -4px; left: 0; text-align: center; border-radius: 6px;}
.header_info_block .contacts_block .shelude {font-size: 17px;}

.contacts_block {position: relative;}
.contacts_block:before {content: ''; position: absolute; width: 100%; height: 2px; background: #0194D9; bottom: -18px; left: -15px; z-index: 9;}



.promo_text {padding: 150px 0;}
.promo_text > * {color: rgba(255,255,255,0.9);}
.promo_text h3 {font-weight: 800; font-size: 48px; line-height: 60px;}
.promo_text h4 {font-size: 70px; margin-top: 35px; font-weight: bold; line-height: 50px;}
.promo_text .percent {font-size: 70px; font-weight: bold; text-transform: uppercase; line-height: 70px;}
.promo_text .link a {margin-top: 30px; font-size: 30px; line-height: 60px; text-transform: uppercase; padding: 0 25px;}

.homepage .contacts_bottom {margin-top: 00px;}
.contacts_bottom {list-style: none; padding-left: 0; margin-top: 30px;}
.contacts_bottom .schema > div {font-size: 17px; margin-bottom:10px; position: relative; padding-left: 50px; line-height: 45px; border-bottom: 1px solid #999; padding-bottom: 5px;}
.contacts_bottom .schema > div.shelude {line-height: 20px; padding-bottom: 15px;}
.page-header {border: none;}
.page-header h1 {text-align: center; text-transform: uppercase;}
.contacts_bottom .schema > div:last-child {margin-bottom:0px; font-size: 16px; line-height: 20px; padding-left: 5px; border-bottom: none; padding-bottom: 0;}
.contacts_bottom .schema > div.name, .priceRange {display: none;}
.contacts_bottom .schema > div:before {position: absolute; left: 0; top: 3px; font-family: FontAwesome; background: #0194D9; width: 39px; height: 39px; line-height: 39px; text-align: center; border-radius: 6px; color: #fff;}
.contacts_bottom .schema > div.phone:before, .header_info_block div.phone:before {content: "\f095"; font-size: 25px;}
.contacts_bottom .schema > div.adress:before, .header_info_block div.adress:before  {content: "\f041"; font-size: 28px;}
.contacts_bottom .schema > div.adress2:before {content: "\f1ad"; font-size: 19px;}
.contacts_bottom .schema > div.email:before {content: "\f0e0"; font-size: 23px;}
.contacts_bottom .schema > div.shelude:before, .header_info_block div.shelude:before  {content: "\f017"; font-size: 23px;}
.contacts_bottom .schema > div.email a {text-decoration: underline; color: #777;}

.breadcrumbs_block {background: #f0f0f0;}

.homepage .tm-content {margin: 0;}
.homepage .bottom_b_block {padding-top: 10px; margin-top: 0;}
.bottom_b_block .uk-panel > h3 {margin-bottom: 30px; margin-top: 20px;}
.postalCode {display: none;}
.logo_bottom {padding-left: 0 !important;}

.header_cart h3 {text-align: center; font-size: 19px; margin-top: 25px; margin-bottom: 25px !important;}

.cart_buttons #checkout {text-align: right;}
.quantity_cart {position: relative; margin-top: 30px;}
.img_product_cart img {max-height: 100px;}
.name_product_cart {font-size: 18px; font-weight: 600;}
.list_attribute {font-size: 15px; font-weight: normal; margin-top: 10px;}
.jshop_cart_attribute {margin: 5px 0;}
.quantity_cart .cart_reload {position: absolute; right: 12px; font-size: 25px; color: #fff; top: -5px; background: #DB006D; padding: 11px; z-index: 99; cursor: pointer;}
.quantity_cart .quantity {padding-right: 50px;}
.quantity_cart .quantity input[type="text"] {left: calc(33% - 25px);}
.totalprice_cart, .price_cart {color: #DB006D; font-weight: 800; font-size: 21px; line-height: 21px; text-align: center; height: 100px; display: flex; -webkit-align-items: center; align-items: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center;} 
.remove_cart a {font-size: 25px; color: #fff; top: -5px; background: #DB006D; padding: 11px; margin: 26px auto 0 auto; display: block; width: 25px; text-align: center;}
.cart_block_discount .inputbox {height: 30px; margin-bottom: 0; margin-right: 12px;}
.cart_buttons {margin-bottom: 25px;}

.cart_page .total_info {text-align: right; font-size: 20px; font-weight: bold; line-height: 40px;}

.cart_title_price h3 {line-height: 17px;}
.cart_page .jshop .uk-button {height: 40px; line-height: 40px; font-size: 19px; text-transform: uppercase; padding: 0 25px;}

.bottom_menu_block h3 {margin-bottom: 10px;}
.bottom_menu_block .nav {margin: 10px 0 12px 0;}
.bottom_menu_block a {background: rgba(255,255,255,0.05); padding: 0 15px; text-transform: uppercase; line-height: 24px; margin-bottom: 5px; color: #777 !important; font-size: 13px;}
.bottom_menu_block li:last-child a {margin-bottom: 0;}
.social_block {margin-top: 12px; margin-bottom: 0; padding-left: 0; text-align: center;}
.social_block li {display: inline-block;}
.social_block li a {width: 40px; height: 40px; line-height: 42px; margin-right: 5px; display: block; text-align: center; color: #fff; font-size: 23px; position: relative; border-radius: 6px;}
.social_block li a:hover, .social_block li a:focus {box-shadow: 0 0 1px #fff;}
.social_block .viber a {background: #7B519D !important;}
.social_block .whatsapp a {background: #29A71A;}
.social_block .messenger a {background: #0084FF;}
.social_block .facebook a {background: #4267B2;}
.social_block .odnoklassniki a {background: #F58220;}
.social_block .instagram a {background: rgba(253,182,3,1);
background: -moz-linear-gradient(45deg, rgba(253,182,3,1) 0%, rgba(227,138,60,1) 25%, rgba(198,89,122,1) 50%, rgba(177,53,168,1) 75%, rgba(147,3,232,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(253,182,3,1)), color-stop(25%, rgba(227,138,60,1)), color-stop(50%, rgba(198,89,122,1)), color-stop(75%, rgba(177,53,168,1)), color-stop(100%, rgba(147,3,232,1)));
background: -webkit-linear-gradient(45deg, rgba(253,182,3,1) 0%, rgba(227,138,60,1) 25%, rgba(198,89,122,1) 50%, rgba(177,53,168,1) 75%, rgba(147,3,232,1) 100%);
background: -o-linear-gradient(45deg, rgba(253,182,3,1) 0%, rgba(227,138,60,1) 25%, rgba(198,89,122,1) 50%, rgba(177,53,168,1) 75%, rgba(147,3,232,1) 100%);
background: -ms-linear-gradient(45deg, rgba(253,182,3,1) 0%, rgba(227,138,60,1) 25%, rgba(198,89,122,1) 50%, rgba(177,53,168,1) 75%, rgba(147,3,232,1) 100%);
background: linear-gradient(45deg, rgba(253,182,3,1) 0%, rgba(227,138,60,1) 25%, rgba(198,89,122,1) 50%, rgba(177,53,168,1) 75%, rgba(147,3,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb603', endColorstr='#9303e8', GradientType=1 );}

.blog_list .blog_item {position: relative;}
.modnews-date {position: absolute; top: 10px; right: 10px; background: #111; padding: 3px 5px; color: #777; font-weight: 800; font-size: 12px;}
.blog_list .blog_item a {color: #777; text-transform: uppercase;}
.blog_list .blog_item a span {line-height: 17px; font-size: 17px; border-bottom: 1px solid #222; height: 50px; display: flex; -webkit-align-items: center; align-items: center; -ms-flex-pack: center;}
.blog_list_video a span {float: left; width: calc(100% - 130px); margin-bottom: 10px;}
.blog_list .blog_item {}
.blog_list .blog_item {}
.blog_list .blog_item {}
.blog_list .blog_item {}

.menu_block .uk-nav > li > a {margin: 0 10px 10px 10px; background: #ddd; text-align: center; height: 40px; display: flex; -webkit-align-items: center; align-items: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center;}
.menu_block .uk-nav > li > a:hover, .menu_block .uk-nav > li > a:focus {background: #DB006D; color: #fff;}

.menu_block .tm-navbar {margin:0; background: #fff; position: relative;}
.menu_block .uk-navbar-nav {width: 100%;}
.menu_block .uk-navbar-nav > li {margin-right: 10px;}
.menu_block .uk-navbar-nav > li > a {text-transform: uppercase; height: 51px; padding: 0 15px; line-height: 51px; border-radius: 6px;}
.menu_block .uk-navbar-nav > li > a.sale {background: #DB006D; color: #fff;}
.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a {background-color: transparent;}
.menu_block .uk-navbar-nav > li.uk-active > a, .menu_block .uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a {background-color: #0194D9; color:#fff;}
.logo_block, .menu_block {float: left;}
.cart_block {margin: 15px 15px 0 15px;}
.languages_block {float: right;}
.languages_block a {width: 50px; height: 50px; line-height: 50px; display: block; background: #0194D9; color: #fff; font-weight: 900; border-radius: 6px; text-align: center; text-transform: uppercase; font-size: 20px; margin-top: 0;}
.lang-active a, .languages_block a:hover {background: #DB006D;}
.languages_block .mod-languages > div {display: inline-block;}

.menu_block, .contacts_block, .cart_block {margin-top: 15px;}
.languages_block {cursor: pointer;}
.languages_block .button {height: 56px; background: #222; line-height: 56px; width: 115px; text-align: center; color: #999;}
.languages_block .uk-dropdown {width: 115px; background: #222;}
.languages_block .uk-dropdown a {color: #999; line-height: 30px;}
.brands_page .body_block {}
.sticky_block  {z-index: 999; padding: 10px 0;}
.sticky_bar {z-index: 998; background: #fff; padding: 0;}

.cart_block .uk-dropdown {min-width: 300px; background: #222;}
.cart_block .uk-dropdown .delete a {position: absolute; right: -10px; top: -3px; background: #DB006D; width: 20px; height: 20px; line-height: 20px; text-align: center; color: #fff;}

.gotocart > a {width: calc(50% - 5px); font-size: 12px;}
.header_block .cart_block .total {font-size: 12px; line-height: 15px; margin: 10px 0; display: block; text-align: center; color: #ccc;}
.cart_block .cart_button{height: 56px; background: #222; position: relative; cursor: pointer;}
.cart_block .cart_button:before {font-family: FontAwesome; content: "\f07a"; width: 56px; height: 56px; display: block; background: #DB006D; color: #fff; float: left; text-align: center; font-size: 30px;  line-height: 56px; margin-right: 10px;}
.cart_block .cart_button:after {font-family: FontAwesome; content: "\f0d7"; display: block; background: none; color: #fff; position: absolute; right: 10px; top: 0;  line-height: 56px;}
.mycart_mini_txt  {padding: 3px 25px 0 10px; min-width: 200px;}
.externbootstrap_text {display: block; line-height: 28px; color: #999;}
.externbootstrap_text_active {display: block; color: #999; line-height: 20px; padding-top: 5px;}

.extern_content .name a {color: #fff; text-decoration: none;}

.logo_block img {margin-top: 10px; width: 250px; max-height: 128px;}
.mod-shop-search input[type="text"] {height: 46px; min-width: 130px; margin-top: -7px;}
.mod-shop-search label.uk-icon-search {width: 56px; height: 56px; line-height: 56px; background: #ccc; text-align: center; font-size: 25px; margin-bottom: 0; margin-left: -4px;}
.sticky_bar.uk-active {padding-bottom: 0; box-shadow: 0 0 1px #111; padding: 10px 0 5px 0;}
.sticky_bar.uk-active .logo_block img {margin-top: -63px; width: 250px;}
.sticky_bar.uk-active .menu_block, .sticky_bar.uk-active .contacts_block, .sticky_bar.uk-active .languages_block, .sticky_bar.uk-active .cart_block {margin-top: 0px;} 
.sticky_bar.uk-active .contacts_block {display: none;}
.sticky_bar.uk-active .languages_block .button {height: 46px; background: #222; line-height: 46px;}
.sticky_bar.uk-active .cart_block .cart_button {height: 46px;}
.sticky_bar.uk-active .externbootstrap_text_active {padding-top: 1px;}
.sticky_bar.uk-active .cart_block .cart_button:before {width: 46px; height: 46px; line-height: 46px;}
.sticky_bar.uk-active .cart_block .cart_button:after {line-height: 46px;}
.sticky_bar.uk-active .mod-shop-search input[type="text"] {height: 36px;}
.sticky_bar.uk-active .mod-shop-search label.uk-icon-search {width: 46px; height: 46px; line-height: 44px;}
.sticky_bar.uk-active .externbootstrap_text {line-height: 17px;}
.sticky_bar.uk-active .cart_block {margin: 0 15px;}
.sticky_bar.uk-active .menu_block .uk-navbar-nav > li > a{height: 46px; padding: 0 15px; line-height: 46px;}
.sticky_bar.uk-active .languages_block a {height: 46px; line-height: 46px; width: 46px; margin-top: 9px;}

.tm-content .uk-width-medium-1-4 .uk-article h1 {font-size: 30px; line-height: 35px;}

.top_c_block {padding: 30px 0 0 0;}
.top_e_block {padding: 25px 0;}

.top_e_block {background: rgba(153,153,153,1);
background: -moz-linear-gradient(-45deg, rgba(153,153,153,1) 0%, rgba(204,204,204,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(153,153,153,1)), color-stop(100%, rgba(204,204,204,1)));
background: -webkit-linear-gradient(-45deg, rgba(153,153,153,1) 0%, rgba(204,204,204,1) 100%);
background: -o-linear-gradient(-45deg, rgba(153,153,153,1) 0%, rgba(204,204,204,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(153,153,153,1) 0%, rgba(204,204,204,1) 100%);
background: linear-gradient(135deg, rgba(153,153,153,1) 0%, rgba(204,204,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#cccccc', GradientType=1 );}


.top_black_block{background: #000;}

.fast_categs {padding: 200px 35px; margin: 50px 0 !important; border: 3px solid rgba(255,255,255,0.1);}
.fast_categs .title {color: rgba(255,255,255,0.9); font-weight: 800; font-size: 28px; line-height: 32px; margin-bottom: 20px; background: rgba(0,0,0,0.3); padding: 10px;}
.fast_categs .list ul {list-style: none; padding-left: 0;}
.fast_categs .list li {color: rgba(255,255,255,0.9); position: relative; padding-left: 17px; line-height: 30px; font-size: 18px;}
.fast_categs .list li:before {content: "\f111"; font-family: FontAwesome; font-size: 9px; position: absolute; left: 0; color: #DB006D;}
.fast_categs .list li:last-child {background: #DB006D; color: #fff; width: 200px; text-align: center; font-size: 21px; padding-left: 0; margin-top: 15px; margin-left: 20px;}
.fast_categs .list li:last-child:before {display: none;}
.fast_categs .list a {color: #999;}
.categ_1 {background: #030305 url(/images/template/cat1.jpg) right no-repeat;}
.categ_2 {background: #030305 url(/images/template/cat2.jpg) right no-repeat;}
.categ_3 {background: #030305 url(/images/template/cat3.jpg) right no-repeat;}
.categ_4 {background: #030305 url(/images/template/cat4.jpg) right no-repeat;}

.category_block {padding: 15px;}

.jshop_categ {position: relative;}
.jshop_categ:before {content: ''; width: 1px; height: calc(100% - 15px); display: block; background: #ccc; position: absolute; right: -7px; top: 0;}
.jshop_categ:after {content: ''; width: calc(100% - 27px); height: 1px; display: block; background: #ccc; position: absolute; left: 20px; bottom: 0;} 
.category_name > a, .brands_page .manufacturer_name a, .tm-content .uk-width-medium-1-4 .uk-article h1 {color: #444; text-transform: uppercase; font-weight: 800; font-size: 19px; line-height: 26px; height: 60px; display: flex; -webkit-align-items: center; align-items: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center;}
.jshop_categ:nth-child(4n):before {display: none;}

.bottom_a_block {}
.results-text {display: none;}
.bottom_b_block {background: #f0f0f0; padding: 5px 0; margin-top: 15px;}
.short_info {height: 40px;}
.footer_block {background: #f0f0f0;}
.jshop_list_product {position: relative;}
.jshop_list_product .image_block span {text-transform: uppercase; color: #222; font-size: 16px; line-height: 16px; width: 100%; margin-top: 10px; height: 35px; display: flex; -webkit-align-items: center; align-items: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center;}
.jshop_list_product .image_block img.jshop_img {width: 100%;}
.jshop_list_product .info_block {position: relative;}
.jshop_list_product .info_block .description {text-align: center; margin: 5px 0px;}
.jshop_list_product .price {position: absolute; top: -10px; left: -10px; text-align: right; line-height: 25px; color: #fff; text-shadow: 0 0 1px rgba(0,0,0,0.75); border-radius: 6px; box-shadow: 0 0 1px 7px rgba(255,255,255,0.35);}
.jshop_list_product .price span.jshop_price {border-radius: 6px;}
.jshop_list_product .old_price span {border-radius: 6px 0 0 6px;}
.jshop_list_product .sale_price {color: #fff;}
.jshop_list_product .sale_price span.jshop_price {background: #DB006D !important; border-radius: 0 6px 6px 0;}
.jshop_list_product .price span.jshop_price, .jshop_list_product .old_price span {background: #0194D9; padding: 5px 15px; display: block;}

.jshop_list_product .jshop_price {font-weight: bold; font-size: 16px;}
.jshop_list_product .buttons {margin-top: 7px;}
.jshop_list_product .old_price, .jshop_list_product .sale_price {float: left;}
.jshop_list_product .old_price {text-decoration: line-through; margin-right: -3px;}

.productfull .main_image img {max-height: 350px;}
.productfull .list_thumbs {height: 350px; overflow-y: scroll;}
.productfull .list_thumbs > div {margin-bottom: 15px; margin-right: 15px;}
.productfull .delivery_info {padding: 15px; background: #f0f0f0;}
.productfull .list_thumbs::-webkit-scrollbar { width: 5px; height: 3px;}
.productfull .list_thumbs::-webkit-scrollbar-button {  background-color: #DB006D; }
.productfull .list_thumbs::-webkit-scrollbar-track {  background-color: #999;}
.productfull .list_thumbs::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.productfull .list_thumbs::-webkit-scrollbar-thumb { height: 10px; background-color: #DB006D;}
.productfull .list_thumbs::-webkit-resizer { background-color: #DB006D;}

.productfull h1, .shophead h1, .jshop > h1, h1.tm-title {margin-bottom: 12px; border-bottom: 1px solid #999; line-height: 65px; text-align: center; font-weight: 900; text-transform: uppercase;}
.productfull .list_info {list-style: none; padding-left: 0;}
.productfull .brand, .extra_field_1 {font-size: 21px; line-height: 30px; text-transform: uppercase; font-weight: 600;}
.productfull .brand span, .extra_field_1 .extra_fields_name {font-weight: 100;}
.productfull .price_product{font-size: 30px; line-height: 45px; color: #DB006D; font-weight: 800; text-align: left; padding-bottom: 15px;}
.productfull .old_price_product {text-decoration: line-through; color: #999; font-weight: 300; font-size: 24px; text-align: center; display: block;}
.product_short_info form {position: relative; margin-bottom: 10px;}
.footer_block .tm-footer {padding: 10px 0;}
.footer_block .tm-totop-scroller {bottom: 10px; right: -30px; font-size: 24px;}
.footer_block .copyright_left {text-align:left;}
.footer_block .copyright_right {text-align:right;}

.video_box .uk-grid > div {margin-bottom: 15px !important;}

.blog_list_video img {max-width: 120px; float: left; margin-right: 8px;}

.ajaxloaddingcart_mini:before {font-family: FontAwesome; content: "\f110"; display: inline-block; -webkit-animation: uk-rotate 2s infinite linear; animation: uk-rotate 2s infinite linear;}
.buttons {position: relative; margin-bottom: 15px;}
.list_product_block .button_buy .ajaxloaddingcart_mini {width: 100%; height: 40px; line-height: 40px;}
/*.extra_field_2, .extra_field_3, .extra_field_4, .extra_field_5 {display: inline-block; width: 24%; margin-top: 10px;}
.extra_field_2 .extra_fields_name, .extra_field_3 .extra_fields_name, .extra_field_4 .extra_fields_name, .extra_field_5 .extra_fields_name {display: none;}
.extra_field_2 .extra_fields_value, .extra_field_3 .extra_fields_value, .extra_field_4 .extra_fields_value, .extra_field_5 .extra_fields_value {text-align: center; display: block; color: #fff; width: 79px; margin: 0 auto; padding-top: 32px; font-weight: 800; font-size: 17px; line-height: 15px; text-shadow: 0 0 2px #000;}
/*.extra_field_2 {background: url(/images/template/icon_1.png) center no-repeat; background-size: cover; height: 125px;}
.extra_field_3 {background: url(/images/template/icon_2.png) center no-repeat; background-size: cover; height: 125px;}
.extra_field_4 {background: url(/images/template/icon_3.png) center no-repeat; background-size: cover; height: 125px;}
.extra_field_5 {background: url(/images/template/icon_4.png) center no-repeat; background-size: cover; height: 125px;}*/
.extra_field_1 {margin-bottom: 10px;}
.extra_fields_el, .extra_field_0, .shipping_icon {position: relative;}
.extra_field_0:before, .extra_field_2:before, .extra_field_3:before, .extra_field_4:before, .extra_field_5:before {font-family: FontAwesome; content: "\f046" !important; position: absolute; left: 0; font-size: 20px; top: 2px; color: #DB006D;}
.shipping_icon {border-top: 1px solid #ccc; padding-top: 27px;}
.shipping_icon span{color: #DB006D; font-size: 13px; padding-left: 58px; text-transform: uppercase; font-weight: bold; width: 250px; display: block;}
.shipping_icon:before {font-family: FontAwesome; content: "\f0d1"; position: absolute; left: -8px; font-size: 60px; top: 40px; color: #DB006D; display: block;}
.extra_field_0, .extra_field_2, .extra_field_3, .extra_field_4, .extra_field_5 {display: inline-block; width: calc(50% - 2px);  margin-top: 10px;}
.extra_field_0 .extra_fields_name, .extra_field_2 .extra_fields_name, .extra_field_3 .extra_fields_name, .extra_field_4 .extra_fields_name, .extra_field_5 .extra_fields_name {display: none;}

.extra_field_2, .extra_field_3, .extra_field_4, .extra_field_5 {border-bottom: 1px solid #ccc;}

.extra_field_0 .extra_fields_value, .extra_field_2 .extra_fields_value, .extra_field_3 .extra_fields_value, .extra_field_4 .extra_fields_value, .extra_field_5 .extra_fields_value {text-align: left; padding-left: 0; display: block; color: #444; font-size: 15px; line-height: 23px; padding-bottom: 10px;}

.product_short_info {position: relative;}
/* ========================================================================
   Основные стили
 ========================================================================== */
.uk-breadcrumb > li > a {color: #555 !important;}
.uk-breadcrumb > li > a, .uk-breadcrumb > li > span {text-transform: uppercase; font-weight: 900; font-size: 15px; color: #777;}


.tm-headerbar .uk-panel {max-width: none; margin-left: 15px; float: left; padding: 10px;}
.headerbar_panel {height: 100%; box-shadow: inset 0 0 0px 3px #444;}

.uk-breadcrumb {margin-top: 15px; margin-bottom: 15px;}
.uk-breadcrumb li {line-height: 35px;}

.tm-content {position: relative;}
.cart_page .tm-content {padding-top: 20px;}

.quantity {position: relative;}
.jshop_related .quantity {height: auto !important;}
.jshop_list_product .quantity {display: block; width: 100%; margin: 15px 0 5px 0; height: 40px;}
.jshop_list_product .button_buy  {display: block; width: 50%; line-height: 40px; text-align: center; float: right;}
.jshop_list_product .quantity input[type="text"] {left: 33%; font-size: 20px;}
.jshop_list_product .quantity label:before {font-size: 20px;}
.quantity input[type="text"] {position: absolute; left: calc(50% - 25px); padding: 0; font-size: 24px; background: #333; color: #ccc; width: 33%; line-height: 40px; height: 40px;}
.quantity input {background: none; border: none; width: 100%; height: 34px; line-height: 34px; text-align: center; display: block;}
.quantity label {position: relative; float: left; width: 33%; margin-bottom: 0; line-height: 25px;}
.quantity .product_plus {float: right;}
.quantity .product_minus:before {content: "\f068";}
.quantity .product_plus:before {content: "\f067"; }
.quantity label:before {font-family: FontAwesome; position: absolute; font-size: 25px; width: 20px; height: 20px; left: calc(50% - 10px); top: calc(50% - 8px); float: left;}
.quantity .data {width: calc(100% - 75px); position: relative; padding-top: 9px;}

.productfull .quantity input[type="text"] {top: 0; height: 50px; left: 33%;}
.productfull .quantity label {line-height: 37px;}
.productfull .price_block {height: 100%;}
.jshop_prod_attributes {margin-bottom: 10px;}
.jshop_prod_attributes > span {text-align: right; width: 100%; display: block;}
.jshop_prod_attributes > span > span {width: 33.33%; display: block; float: left;}
.jshop_prod_attributes > span > span:nth-child(3n + 1) label, .jshop_prod_attributes > span > span:first-child label {margin-left: 0;}
.attributes_name {font-weight: 800; font-size: 15px; margin-bottom: 5px;}
.jshop_prod_attributes .input_type_radio input {display: none;}
.jshop_prod_attributes .input_type_radio label:before {content: '';display: block;}
.jshop_prod_attributes .input_type_radio label {background: #ddd; padding: 5px 10px; font-size: 13px; margin-left: 15px; margin-bottom: 15px; text-align: center;}
.jshop_prod_attributes .input_type_radio input:checked + label, .jshop_prod_attributes .input_type_radio label:hover {background: #DB006D; color: #fff;}
.saleprice_block .price_product{line-height: 26px;}
/* ========================================================================
   Формы
 ========================================================================== */
.uk-form input:not([class*='uk-form-width-']):not([class*='uk-width-']):not([type="radio"]):not([type="checkbox"]), .uk-form select:not([class*='uk-form-width-']):not([class*='uk-width-']), .uk-form textarea:not([class*='uk-form-width-']):not([class*='uk-width-']) {width: 100%;}
.uk-form input:not([class*='uk-form-width-']):not([class*='uk-width-']):not([type="radio"]):not([type="checkbox"]), .uk-form select:not([class*='uk-form-width-']):not([class*='uk-width-']) {height: 40px;}

.add_review {max-width: 750px; margin: 0 auto; background: #444;}
.add_review .rsform-block-star .star_box {border: 1px solid #dddddd; padding: 3.5px 6px; color: #999; background: #fff; }
.add_review .rsform-block-star label.uk-form-label {float: left; margin-right: 10px; padding-top: 5px;}
.add_review .rsform-block-star .formControls label {font-size: 13px;}
.add_review .rsform-block-star input {display: none;}
.add_review .rsform-block-send {text-align: center;}

.rsform-block-star .formControls label .star {padding-top: 5px; color: #444;}
.rsform-block-star .formControls label .star:after {content: "\f005"; font-family: FontAwesome; font-size: 30px;}
.rsform-block-star .formControls label .star:hover, .rsform-block-star .formControls label .star:focus, .rsform-block-star .formControls input[type=radio]:checked + div:after {color: #FF6A00;}
.rsform-block-star .formControls label span {position: absolute; color: #fff; width: 27px; height: 22px; text-align: center;}
/* ========================================================================
   Последние товары
 ========================================================================== */
.jshop_list_product .previous, .jshop_list_product .next{background: #222; position: absolute; top:calc(50% - 20px); width: 40px; height: 40px; line-height: 40px; display: block; text-align: center; color: #fff; font-size: 40px;}
.jshop_list_product .previous {left: -50px;}
.jshop_list_product .next {right: -50px;}
.jshop_list_product .previous [class*='uk-icon-'] {padding-right: 5px;}
.jshop_list_product .next [class*='uk-icon-'] {padding-left: 5px;}
.go-to-top .uk-sticky-placeholder {height: 0}
/* ========================================================================
   Слайд-шоу
 ========================================================================== */
.slideshow {}
.slideshow_item {height:300px; display: flex; -webkit-align-items: center; align-items: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center;}
.slideshow .previous, .slideshow .next {position: absolute; top: calc(50% - 25px); width: 50px; height: 50px; line-height:47px; font-size:35px; text-align: center; color: #444;}
.slideshow .previous:hover, .slideshow .next:hover, .slideshow .previous:focus, .slideshow .next:focus, .list_thumbs .previous:hover, .list_thumbs .next:hover, .product_list_related .previous:hover, .product_list_related .next:hover, .list_thumbs .previous:focus, .list_thumbs .next:focus, .product_list_related .previous:focus, .product_list_related .next:focus {background:#444; color:#fff;}
.slideshow .previous {left: -53px;}
.slideshow .next {right: -53px;}
/* ========================================================================
   Joomshopping
 ========================================================================== */
.jshop_categ {text-align: center; margin-bottom: 15px;}
.list_product .product {margin-bottom: 10px; position: relative;}
.list_product .name a {display:block; font-size:18px; text-align:center; margin: 10px 0;}

.image_block_product a{text-align: center; display: block; font-size: 20px; line-height: 35px;}

.main_image {text-align: center; margin-bottom: 25px !important;}
.list_thumbs {position:relative;}


.product_list_related {position: relative;}
.product_list_related .previous {left:-45px;}
.product_list_related .next {right:-45px;}

.product_info {margin-top:10px;}
.product_info_switcher {list-style:none; padding-left:0; margin-bottom: 0;}
.product_info_switcher, .product_info_switcher li, .productfull .product_info .uk-button {float: left;}
.product_info_switcher a, .productfull .product_info .uk-button {display:block; margin-right:15px; background:#222; color:#999; line-height: 56px; width: 200px; text-align: center; font-size: 19px; text-transform: uppercase; text-decoration:none; font-weight: 300; font-weight: bold;}
.product_info_switcher .uk-active a, .product_info_switcher a:hover, .productfull .product_info .uk-button:hover {background: #DB006D; color: #fff;}
.block_rating_hits {position: absolute; top: 10px; right: 10px;}
.block_rating_hits .ratinghits {float:right;}
.buttons input {width:auto; padding: 0;}
.buttons input.button_buy, .buttons input.button_wishlist {width:100%; line-height: 50px; font-size: 21px;}
.product_info_content {margin-top: 0; border-top: 5px solid #DB006D; background: #f0f0f0; padding: 15px 15px 25px 15px; font-size: 16px;}
.product_info_content li {line-height: 28px;}
.jshop_related .buttons {display: none;}
.mod-shop-search input[type="submit"] {background: none; border: none; padding: 0;}
.related_header {margin-top: 15px; border-top: 1px solid #999; padding-top: 25px;}

/* ========================================================================
   Мультиязычность
 ========================================================================== */
.language_block {float:right !important;}
/* ========================================================================
   Контент
 ========================================================================== */
.contacts_list li {font-size: 21px; margin-bottom:10px;}
.contacts_list li:first-child {margin-top: 10px;}
.contacts_list li:nth-child(n+2) {padding-top: 10px; border-top: 1px solid #dddddd;}
.contacts_list li:last-child {margin-bottom:0px;}

.img_left {float: left; margin-right: 10px; margin-bottom: 5px;}
.img_right {float: right; margin-left: 10px; margin-bottom: 5px;}
[data-uk-cover] {transform: none;     left: auto;}
.go-to-top {height: 0;}
/* ========================================================================
   Мобильная версия
 ========================================================================== */
.menu_dropdown > .uk-hidden-small {display: block !important;}
@media (max-width:320px) {
	.externbootstrap_wrapp, .mycart_mini_txt {min-width: 180px !important; max-width: 279px !important;}
	.sticky_bar.uk-active .menu_block:after {content: ''; left: 68px !important;}
	.cart_block .cart_button:before {content: "\f07a"; width: 40px !important; font-size: 24px !important;}
}
@media (max-width:361px) {
	.product_info_switcher a, .productfull .product_info .uk-button {font-size: 13px !important;}
}
@media (max-width:767px) {
	.uk-breadcrumb > li > a, .uk-breadcrumb > li > span {font-size: 11px;}
	.productfull .brand, .extra_field_1 {font-size: 17px;}
	.uk-breadcrumb li {line-height: 23px;}
	.jshop_prod_attributes .input_type_radio label {padding: 10px;}
	.logo_bottom {margin-top: 12px; padding-bottom: 10px !important;}
	.jshop_list_product .previous, .jshop_list_product .next{background: #222; position: absolute; top:calc(50% - 20px); width: 40px; height: 40px; line-height: 40px; display: block; text-align: center; color: #fff; font-size: 40px;}
	.jshop_list_product .previous {left: -10px;}
	.jshop_list_product .next {right: -10px;}
	.sticky_bar.uk-active  .menu_block:after {content: ''; background: url(/templates/bodypit/apple_touch_icon.png) no-repeat; background-size: contain; width: 60px; height: 60px; display: block; position: absolute; top: -8px; left: 75px;}
	.menu_button {width: 46px; height: 46px;line-height: 46px; text-align: center; font-size: 35px; background: #DB006D; color: #fff;}
	.logo_block {width: 80%; float: right;}
	.logo_block img {margin-top: 6px;}
	.menu_block {width: 20%; float: left;}
	.menu_block > div {padding: 0;}
	.cart_block {width: 60%; float: left; margin: 15px 0 0 0;}
	.languages_block {width: 40%; float: right;}
	.contacts_block {width: 100%; margin-bottom: 15px;}
	.languages_block .button {width: calc(100% - 15px); margin: 0 0 0 auto;}
	.mod-shop-search input[type="text"] {float: left; width: calc(80% - 10px); margin-top: 0;}
	.mod-shop-search label.uk-icon-search {width: 20%; float: left;}
	.menu_block .uk-navbar-nav > li {float: none;margin-right: 0;}
	.sticky_bar.uk-active .menu_block .uk-navbar-nav > li > a {padding: 0 11px;}
	.menu_block .uk-navbar-nav > li > a {height: 30px; line-height: 30px; padding: 0; color: #999;}
	.menu_block .uk-open .menu_button {background: #222; }
	.menu_dropdown {margin-top: 40px; background: #222;}
	.sticky_bar.uk-active .logo_block, .sticky_bar.uk-active .languages_block, .sticky_bar.uk-active .contacts_block {display: none;}
	.sticky_bar.uk-active {padding: 10px 0;}
	.sticky_bar.uk-active .cart_block {margin: 0; float: right;}
	.sticky_bar.uk-active {}
	.sticky_bar.uk-active {}
	.externbootstrap_text {font-size: 12px;}
	.promo_text h3 {font-size: 30px; line-height: 35px; text-align: center;}
	.promo_text h3 span {display: block; font-size: 40px;}
	.promo_text h4, .promo_text .percent {font-size: 40px; margin-top: 15px; line-height: 50px; text-align: center;}
	.promo_text .link a {display: block;}
	.uk-panel > h3, .related_header h3, .uk-row-first > h3, .productfull h1 {font-size: 22px; line-height: 30px;}
	.top_black_block {padding: 10px 0;}
	.fast_categs {padding: 80px 10px; margin: 7px 0 !important;}
	.fast_categs .title {font-size: 19px; line-height: 23px; text-align: center;}
	.product_info_switcher a, .productfull .product_info .uk-button {margin-right: 5px; line-height: 35px; font-size: 14px; width: auto; text-transform: none; padding: 0 5px;}
	.footer_block .copyright_right {text-align: left;}
	.jshop_prod_attributes {margin-top: 15px;}
	.jshop_prod_attributes > span, .productfull .price_block {text-align: center;}
	.jshop_prod_attributes .input_type_radio label {margin: 7px 7.5px;}
	.category_name > a, .brands_page .manufacturer_name a {font-size: 14px; line-height: 17px;}
	.jshop_prod_attributes > span > span {width: 50%;}
	.jshop_prod_attributes > span > span:nth-child(2n + 1) label, .jshop_prod_attributes > span > span:first-child label, .jshop_prod_attributes > span > span:nth-child(2) label {margin-left: 0;}
	.jshop_prod_attributes > span > span:nth-child(3n + 1) label, .jshop_prod_attributes > span > span:first-child label {margin-left: 0px;}
	.header_cart {display: none;}
	.totalprice_cart, .price_cart {line-height: 21px; padding-top: 7px;}
	.cart_block_discount .inputbox {margin-bottom: 15px; margin-right: 12px; margin-top: 15px; width: calc(100% - 15px);}
	.cart_page .jshop .uk-button {width: 100%;}
	.cart_page .total_info {text-align: center; margin-top: 30px; border-top: 1px solid #ccc; padding-top: 15px;}
}
@media (min-width:768px) and (max-width:1023px) {
	.menu_dropdown {margin-top: 40px; background: #222; width: 300px;}
	.menu_block .uk-navbar-nav > li {float: none;}
	.menu_block .uk-navbar-nav > li > a {height: 30px; line-height: 30px; padding: 0 10px; color: #999;}
	.jshop_prod_attributes .input_type_radio label {margin: 4px 7.5px;}
	.jshop_prod_attributes > span > span {width: 50%;}
	.jshop_prod_attributes > span > span:nth-child(2n + 1) label, .jshop_prod_attributes > span > span:first-child label, .jshop_prod_attributes > span > span:nth-child(2) label {margin-left: 0;}
	.jshop_prod_attributes > span > span:nth-child(3n + 1) label, .jshop_prod_attributes > span > span:first-child label {margin-left: 0px;}
	.product_info_switcher a, .productfull .product_info .uk-button {width: 160px; font-size: 16px;}
	.product_image, .product_short_info {width: 100%}
	.productfull .price_product {font-size: 20px;}
	.buttons input.button_buy, .buttons input.button_wishlist {font-size: 17px;}
	.jshop_list_product .previous {left: -10px;}
	.jshop_list_product .next {right: -10px;}
	.contacts_bottom > div {width: 100%;}
	.schema, .bottom_menu_block:first-child {margin-top: 15px;}
	.menu_block {position: absolute; z-index: 999;}
	.menu_button {width: 46px; height: 46px;line-height: 46px; text-align: center; font-size: 35px; background: #DB006D; color: #fff;}
	.logo_block img  {margin-left: 60px;}
	.sticky_bar.uk-active .logo_block img {width: 200px; margin-bottom: 15px;}
	.contacts_block {float: none;}
	.cart_block {margin-bottom: 15px;}
	.mod-shop-search input[type="text"] {min-width: calc(100% - 69.5px);}
	.sticky_bar.uk-active .contacts_block {display: none;}
	.extra_field_0 .extra_fields_value, .extra_field_2 .extra_fields_value, .extra_field_3 .extra_fields_value, .extra_field_4 .extra_fields_value, .extra_field_5 .extra_fields_value {padding-left: 20px; font-size: 12px;}
	.extra_field_0:before, .extra_field_2:before, .extra_field_3:before, .extra_field_4:before, .extra_field_5:before {font-size: 18px;}
	
}
@media (min-width:1024px) and (max-width:1279px) {
	.menu_button {width: 56px; height: 56px;line-height: 56px; text-align: center; font-size: 35px; background: #DB006D; color: #fff;}
	.sticky_bar.uk-active .menu_button {width: 46px; height: 46px;line-height: 46px;}
	.logo_block img {margin-top: 17px; width: 235px; margin-right: 15px;}
	.menu_dropdown {margin-top: 40px; background: #222; width: 300px;}
	.menu_block .uk-navbar-nav > li {float: none;}
	.menu_block .uk-navbar-nav > li > a {height: 30px; line-height: 30px; padding: 0 10px; color: #999;}
	.sticky_bar.uk-active {margin-top: 10px;}
	.jshop_list_product .old_price, .jshop_list_product .sale_price {line-height: 20px; float: left; font-size: 13px;}
	.product_image, .product_short_info {width: 100%;}
	.shipping_icon {padding-top: 10px;}
	.shipping_icon:before {content: "\f0d1"; top: 21px;}
	.social_block li a {width: 32px; height: 32px; line-height: 32px; margin-right: 3px; font-size: 19px;}
	.contacts_bottom .schema > div {font-size: 15px;}
	.quantity input[type="text"] {max-width: 41px; margin-left: 6px;}
}
@media (min-width:1280px){
	.menu_button {display: none;}
	.menu_dropdown {display: block; position: relative; width: 100%; height: 60px; padding: 0; line-height: 60px; background: none; top: auto !important; margin-top: 25px; animation: none !important;}
	.sticky_bar.uk-active .menu_dropdown {margin-top: 8px;}
}
@media (min-width:1025px) and (max-width:1280px) {
	.cart_block{ margin-right: 10px; margin-left: 10px;}
	.logo_block img, .sticky_bar.uk-active .logo_block img {width: 200px; margin-top: 21px; margin-right: 10px;}
	.sticky_bar.uk-active .logo_block img {width: 200px; margin-top: 3px; margin-right: 10px;}
	.languages_block .button {width: 100px;}
	.languages_block .uk-dropdown {width: 100px; background: #222; padding: 12px;}
	
}
@media (min-width:1281px) and (max-width:1366px) {
	.logo_block img {width: 250px; margin-top: 15px; margin-right: 15px;}
}
@media (min-width:1025px) and (max-width:1366px) {
	.jshop_list_product .old_price, .jshop_list_product .sale_price {line-height: 20px; float: left; font-size: 13px;}
	.jshop_prod_attributes > span {text-align: center;}
	.jshop_prod_attributes .input_type_radio label {margin: 7px 7.5px;}
	.jshop_prod_attributes > span > span {width: 50%;}
	.jshop_prod_attributes > span > span:nth-child(2n + 1) label, .jshop_prod_attributes > span > span:first-child label, .jshop_prod_attributes > span > span:nth-child(2) label {margin-left: 0;}
	.jshop_prod_attributes > span > span:nth-child(3n + 1) label, .jshop_prod_attributes > span > span:first-child label {margin-left: 0px;}
	.productfull .price_product {font-size: 21px;}
	.buttons input.button_buy, .buttons input.button_wishlist {font-size: 18px;}
	.header_info_block .contacts_block .uk-panel > div {font-size: 16px;}
	.menu_block .uk-navbar-nav > li > a, .menu_block .uk-navbar-nav > li > a {padding: 0 10px !important; font-size: 13px;}
	.cart_block .cart_button {width: 235px;}
	.mycart_mini_txt {min-width: 150px;}
	.cart_block .cart_button:before {width: 46px;}
	.jshop_list_product .previous {left: -10px;}
	.jshop_list_product .next {right: -10px;}
	.jshop_prod_attributes .input_type_radio label {margin-left: 10px; margin-bottom: 0px; text-align: center;}
	.short_info .extra_fields > div, .product_short_info .extra_fields > div {width: calc(50% - 25px); padding-left: 25px;}
	.short_info .extra_fields, .product_short_info .extra_fields {font-size: 12px;}
}
@media (min-width:1367px) and (max-width:1600px) {
	.uk-container {padding: 0 55px;}
	.jshop_list_product .old_price, .jshop_list_product .sale_price {float: left; font-size: 13px;}
	.jshop_prod_attributes .input_type_radio label {margin-left: 10px; margin-bottom: 0px; text-align: center;}
}@media (min-width:1024px){
	#filter_products {display: block !important; visibility: visible !important;}
	.filter_products_button {display: none !important;}
}
/* ========================================================================
   Переделка стандартного шаблона
 ========================================================================== */
.go-to-top .sticky_arrow {width: 50px !important; height: 50px; bottom: 15px; z-index: 100500; border-radius: 20%; opacity: 0; background: #DB006D; /*position: fixed; right: 30px;*/}
.go-to-top .sticky_arrow.uk-active { opacity: 1; top: inherit !important; bottom: 115px; right: 30px;}
.go-to-top .sticky_arrow img {border-radius: 10px;}
.sticky_arrow:hover, .sticky_arrow:focus {height: 64px; width: 64px !important; right: 24px; bottom: 109px;}
.go-to-top .go-to-top .uk-sticky-placeholder {width: 50px;  position: absolute; right: 30px;}
.go-to-top .sticky_arrow {-webkit-transition:bottom 0.25s ease-out;-moz-transition:bottom 0.25s ease-out;-o-transition:bottom 0.25s ease-out;transition:bottom 0.25s ease-out;}
@keyframes arrow_top{
  0%{transform:translate(0px,0px);opacity:1;}
	50%{transform:translate(0px,-10px);opacity:.5;}
	100%{transform:translate(0px,-20px);opacity:0;}
}

.modal_window .uk-close {position: absolute;right: -15px;top: -15px;background: #fff;opacity: 1;border-radius: 100%;font-size: 20px;width: 25px;height: 25px;line-height: 25px;box-shadow: 0 0 3px #000;text-align: center;}
.modal_window button {display: none;}
.call_me_2 img {position: absolute; left: calc(50% - 20px); top: 4px; width: 40px; z-index: 99999;}

.call_me_2 img:first-child {-webkit-animation: rotating 1s infinite linear; animation: rotating 1s infinite linear; top: 4px;}
.call_me_2 img:last-child {bottom: 5px;}

.call_me {position: fixed; bottom: 30px; right: 30px; background: #DB006D; height: 50px; width: 50px;  border-radius: 20%; cursor: pointer; z-index: 9999;}
.call_me:hover, .call_me:focus {height: 64px; width: 64px; bottom: 24px; right: 24px;}
.call_me img {-webkit-animation: rotating 1s infinite linear; animation: rotating 1s infinite linear; position: relative; z-index: 9999;}
.call_me:hover:before, .call_me:focus:before {height: 94px; width: 94px; left: calc(50% - 48px); top: calc(50% - 48px);}
.call_me:before {height: 80px; width: 80px; left: calc(50% - 41px); top: calc(50% - 41px); -webkit-animation: shadow 2s infinite ease-in-out; animation: shadow 2s infinite ease-in-out; background: rgba(191,39,46,0.25); border: 1px solid rgba(191,39,46,0.2);}
.call_me:after {height: 130px; width: 130px; left: calc(50% - 65px); top: calc(50% - 65px); -webkit-animation: shadow_large 1s infinite ease-in-out; animation: shadow_large 1s infinite ease-in-out; background: rgba(191,39,46,0.3);}

.call_me:after, .call_me:before {content: '';  border-radius: 20%; position: absolute; }
@keyframes shadow_large{
  0%{transform:scale(0.35);opacity:.5}
	80%{transform:scale(1);opacity:.1}
	100%{opacity:0;}
}
@keyframes shadow{
  0%{transform:scale(0.6);}
	50%{transform:scale(1);}
	100%{transform:scale(0.6);}
}

@keyframes rotating{10%,20%{-webkit-transform:rotate3d(0,0,1,-3deg);transform:rotate3d(0,0,1,-3deg)}
    30%,50%,70%,90%{-webkit-transform:rotate3d(0,0,1,3deg);transform:rotate3d(0,0,1,3deg)}
    40%,60%,80%{-webkit-transform:rotate3d(0,0,1,-3deg);transform:rotate3d(0,0,1,-3deg)}}

.uk-offcanvas.uk-active .uk-offcanvas-bar.uk-offcanvas-bar-show {padding: 10px;}
.uk-offcanvas-bar-show h3 {color: #fff; text-align: center;}